---
Checks:
    -*,
    clang-diagnostic-*,
    clang-analyzer-*,
    bugprone-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    misc-*,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readability-*,
    -readability-magic-numbers
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
...
